/* Login and Register styling */

.sign-in-main {
  z-index: 2;
  position: relative;
  bottom: 800px;
  left: 250px;
  width: 500px;
  color: white;
}

.sign-in-container {
  width: 500px;
  height: 500px;
  padding: 20px;
}

.login__container {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  color: white;
  overflow-y: hidden;
}

.register-main {
  z-index: 2;
  height: 100%;
  overflow: hidden;
  color: white;
  position: relative;
  bottom: 1000px;
  left: 20px;
}

.register-container {
  padding: 30px;
}

.login__text {
  position: relative;
  bottom: 10px;
  font-size: 40px;
  margin-bottom: 20px;
}

.login__video {
  z-index: 0;
  width: 100%;
}

.login__title {
  position: absolute;
  left: 25px;
  color: red;
  font-size: 80px;
}

.login__subTitle {
  position: absolute;
  top: 100px;
  color: white;
  left: 30px;
}

body {
  overflow-x: hidden;
  background-color: #1e1f1f;
}

.auth__submit {
  position: relative;
  top: 15px;
  margin-bottom: 20px;
}

.inputs {
  background-color: transparent;
  margin-top: 5px;
  margin-bottom: 5px;
}

.links {
  text-decoration: none;
}

/* Navbar styling */

.navbar {
  position: fixed;
  background-color: rgba(12, 7, 7, 0.233);
  height: 55px !important;
  z-index: 1;
  width: 100%;
}

.logo {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 80px;
  top: -5px;
}

.vacancy__logo {
  height: 30px;
  color: white !important;
}

.nav__logo__section {
  width: 33%;
}

.user__section__nav {
  position: relative;
  left: 200px;
}

.main__links__section {
  justify-content: space-between !important;
  width: 33%;
  align-items: center;
}

.nav__row {
  width: 100%;
}

.user__image__nav {
  position: fixed;
  right: 70px;
  height: 40px;
  width: 40px;
  top: 7px;
  border-radius: 60%;
}

.main__links {
  position: relative;
  margin-left: 20px;
}

.main__links__section div:hover {
  position: relative;
  margin-left: 20px;
  border-bottom: 1px solid gold;
}

.user__links__section {
  display: flex;
  position: fixed;
  right: 130px;
}

.user__links {
  position: relative;
  margin-left: 20px;
  height: 5px;
}

.chat__icon {
  font-size: small;
}

/* -- Home Styling -- */

.home__body {
  display: flex;
}

/* NewPost */

.messageSender {
  display: flex;
  margin-top: 80px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.048);
  border-radius: 15px;
  box-shadow: 0px 5px 7px -7px black;
  width: 100%;
  height: 150px;
}

.messageSender__top {
  display: flex;
  border-bottom: 1px solid rgb(255, 231, 125);
  padding: 15px;
}

.messageSender__top > form {
  flex: 1;
  display: flex;
}

.messageSender__top > form > input {
  outline-width: 0;
  border: none;
  padding: 5px 20px;
  margin: 0 10px;
  border-radius: 999px;
  background-color: white;
}

.messageSender__top > form > button {
  display: none;
}

.messageSender__input {
  flex: 1;
}

.messageSender__bottom {
  display: flex;
  justify-content: space-evenly;
}

.messageSender__option {
  padding: 20px;
  display: flex;
  align-items: center;
  color: gray;
  margin: 5px;
}

.messageSender__option > h3 {
  font-size: medium;
  margin-left: 10px;
  cursor: pointer;
}

.messageSender__option:hover {
  background-color: #8b8e9218;
  border-radius: 50px;
  height: 10px;
  position: relative;
  top: 20px;
}

.messageSender__videoInput {
  width: 100%;
}

/* Sidebar Row Styling */

.profile-card {
  position: fixed;
  top: 55px;
  color: rgb(180, 192, 180);
  height: 400px;
  width: 20%;
  margin-left: 40px;
  margin-top: 30px !important;
  background-color: rgba(117, 116, 116, 0.185);
  border-color: rgb(27, 26, 26);
  box-shadow: 0px 5px 7px -7px rgb(15, 15, 14);
  border-radius: 2%;
}

.views {
  border-bottom: 1px solid gold;
  border-color: gold;
}

.profile-card-avatar {
  height: 50px;
  width: 50px;
  margin: 10px;
}
.sidebar {
  width: 25%;
}

.sidebarRow {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  width: 100%;
}

.sidebarRow:hover {
  background-color: lightgray;
  border-radius: 10px;
}

.sidebarRow > h4 {
  margin-left: 20px;
  font-weight: 600;
}

.sidebarRow > .MuiSvgIcon-root {
  font-size: xx-large;
  color: #2e81f4;
}

/* Feed */

.feed__container {
  width: 50% !important;
  margin-bottom: 100px;
}

/* Post Styling */

#dropdown-basic-button {
  background-color: transparent !important;
  border: 1px solid gold;
}
.post {
  width: 100%;
  color: white;
  margin-top: 15px;
  border-radius: 15px;
  background-color: rgba(59, 55, 55, 0.418);
  box-shadow: 0px 5px 7px -7px black;
}

.post__top {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.post__avatar {
  margin-right: 10px;
}

.post__topInfo > h3 {
  font-size: medium;
  margin-top: 7px;
}

.post__topInfo > p {
  font-size: small;
  color: gray;
}

.post__bottom {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px 25px;
}

.post__image > img {
  width: 100%;
}

.post__options {
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
  font-size: medium;
  color: gray;
  cursor: pointer;
  padding: 15px;
}

.post__option {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  flex: 1;
}

.post__option > p {
  margin-left: 10px;
  margin-top: 10px;
}

.post__option:hover {
  background-color: #eff2f5;
  border-radius: 10px;
}

/* Profile Styling */
.cover__image {
  z-index: -3;
  object-fit: cover;
   position: relative;
   top: 55px;
   left: 2.5%;
   max-width: 95%;
  justify-content: center;
}

.profile__body img {
  width: 100% !important;
  height: 300px !important;
  box-shadow: 0 30px 40px rgba(182, 182, 182, 0.1);
}

.profile__cover {
  width: 100% !important;
 
}

.profile-info {
  position: relative;
  color: rgb(180, 192, 180);
  height: 100%;
  width: 20%;
  margin-left: 60px;
  margin-top: -50px !important;
  background-color: rgba(117, 116, 116, 0.185);
  border-color: rgb(27, 26, 26);
  box-shadow: 0px 5px 7px -7px rgb(15, 15, 14);
  border-radius: 2%;
}

.profile-info-avatar {
  margin-top: 0px;
}

.my-name-info {
  position: relative;
  top: 300px;
  left: 20px;
  font-size: 30px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.img-holder {
  --borderWidth: 3px;
  background: #1d1f20;
  position: relative;
  border-radius: var(--borderWidth);
  top: 10px;
  margin: 10px;
  margin-top: 10px;
  z-index: 1;
}

.img-holder:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.user__media__section {
  position: relative;
  margin-top: 65px;
  background-color: rgba(117, 116, 116, 0.185);
  border-color: rgb(27, 26, 26);
  box-shadow: 0px 5px 7px -7px rgb(15, 15, 14);
  border-radius: 1%;
  left: 10px;
  
  max-height: 210px;
  min-width: 74%;
  width: 500px;
}

.media__image {
  position: relative;
  max-height: 200px !important;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid gold;
}

.profile__feed {
  position: absolute;
  top: 50%;
  left: 25%;
  right: 10%;
  width: 95%;
  
}