/* Login and Register styling */

.sign-in-main {
  z-index: 2;
  position: relative;
  bottom: 800px;
  left: 250px;
  width: 500px;
  color: white;
}

.sign-in-container {
  width: 500px;
  height: 500px;
  padding: 20px;
}

.login__container {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  color: white;
}

.register-main {
  z-index: 2;
  height: 100%;
  overflow: hidden;
  color: white;
  position: relative;
  bottom: 1000px;
  left: 20px;
}

.register-container {
    
  padding: 30px;
}

.login__text {
  position: relative;
  bottom: 10px;
  font-size: 40px;
  margin-bottom: 20px;
}

.login__video {
  z-index: 0;
}

.login__title {
  position: absolute;
  left: 25px;
  color: red;
  font-size: 80px;
}

.login__subTitle {
  position: absolute;
  top: 100px;
  color: white;
  left: 30px;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #374b4a;
}

.auth__submit {
  position: relative;
  top: 15px;
  margin-bottom: 20px;
}

.inputs {
  background-color: transparent;
  margin-top: 5px;
  margin-bottom: 5px;
}

.links {
    text-decoration: none;
}

/* Navbar styling */

.navbar {
    background-color: rgba(105, 28, 28, 0);
    height: 50px !important;
}

.logo {
  position: fixed;
  height: 70px;
  width: 300px;
  left: 10px;
  top: -5px;
}

.vacancy__logo {
  height: 30px;
  color: white !important;
} 

.nav__logo__section {
  width: 33%;
}

.user__section__nav {

  justify-content: end;
  left: 100px;
  width: 33%;
}

.main__links__section {

  justify-content: space-between !important;
  width: 33%;
  align-items: center;
}

.nav__row {
  width: 100%;
}

.user__image__nav {
  position: fixed;
  right: 20px;
  height: 50px;
  width: 50px;
  border-radius: 60%;
}